.bgtext{
font-family: "Oswald", "sans-serif"
}
body{
    background-color: blanchedalmond;
}

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
 }

 .strokeBlack{

    stroke: black;
 }

.navbar-expand-lg{
background-color: rgb(173, 233, 250) !important; 

}

.html5icon{
    filter: invert(41%) sepia(83%) saturate(3492%) hue-rotate(348deg) brightness(91%) contrast(90%)

}

.css3icon{
    filter: invert(29%) sepia(47%) saturate(7168%) hue-rotate(227deg) brightness(87%) contrast(100%);
}

.jsicon{

    filter: invert(85%) sepia(97%) saturate(7493%) hue-rotate(339deg) brightness(101%) contrast(94%);
}

.facebookicon{

    filter: invert(37%) sepia(6%) saturate(4938%) hue-rotate(182deg) brightness(102%) contrast(92%);
}

.twittericon{
    filter: invert(64%) sepia(25%) saturate(996%) hue-rotate(164deg) brightness(96%) contrast(80%);
}